.body {
    height: 100vh;
    width: 100vw;
    padding-top: 90px;
    display: flex;
}

.leftContainer {
    width: 27%;
    height: 100%;
    background-image: url('../public/accountBG.jpg');
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 3.5vh 3vw;

}

.title {
    color: rgb(13, 1, 102);
    font-size: 38px;
    font-family: Helvetica;
    font-weight: 800;
    margin-bottom: 2.5vh;
}

.line {
    border-bottom: 2px solid rgb(13, 1, 102);
    width: 90%;
    height: 2px;
    margin-bottom: 3vh;
}

.rightContainer {
    width: 73%;
    height: 100%;
    display: flex;
    align-items: center;
}

.stepsTitleContainer {
    height: 100%;
    width: 29%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-top: 7vh;
}

.stepAndIconContainer {
    width: 100%;
    height: 22px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1.5vw;
    margin-bottom: 8vh;
}

.arrowIcon {
    color: transparent;
    height: 20px
}

.title2{
    cursor: pointer;
    font-size: 22px;
    font-weight: 850;
    color: rgb(13, 1, 102);
}


.line2 {
    width: 1px;
    height: 90%;
    border-left: 1px solid rgb(13, 1, 102);
}

.stepContainer {
    height: 100%;
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 3vh 2vw 1vh;
}







/* Changement pour affichage smartphone */


@media only screen and (max-width: 1150px) {
    .body {
        height: 100svh;
        width: 100vw;
        padding-top: 14.5svh;
        flex-direction: column;
    }
    
    .leftContainer {
        width: 100%;
        height: 18svh;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        padding: 3.5svh 3vw 0;
        background-position: 0 -4svh;
    
    }
    
    .title {
        font-size: 4.5svh;
        margin-bottom: 2svh;
    }
    
    .line {
        width: 85%;
        height: 2px;
        margin-bottom: 3svh;
    }
    
    .rightContainer {
        width: 100vw;
        height: 67.5svh;
        display: flex;
        flex-direction: column;
        align-items:center;

    }
    
    .stepsTitleContainer {
        height: 8svh;
        width: 100vw;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        overflow-x: scroll;
        padding-top: 0svh;
        margin-bottom: 1svh;
    }
    
    .stepAndIconContainer {
        width: 33vw;
        min-width: 33vw;
        height: 8svh;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 0 1vw 0 1vw;
        margin-bottom: 0svh;
    }
    
    .arrowIcon {
        height: 3.5vw;
        display: none;
    }
    
    .title2 {
        font-size: 3.6dvw;
        width : 100%;
        text-align: center;
    }

    .chosenCategory{
        text-decoration: underline;
        text-underline-offset: 1.2svh;
        text-decoration-thickness: 2.2px;
    }
    
    .line2 {
        width: 100%;
        height: 1px;
        border-bottom: 1px solid rgb(13, 1, 102);
    }
    
    .stepContainer {
        height: 58.5svh;
        overflow-y: scroll;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        padding: 1svh 2vw 0svh;
    }

}
