.body {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    overflow-y: scroll;
    scrollbar-width: none;
}

.addressesContainer {
    width: 32vw;
    height: 100%;
    padding-top: 2vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.line {
    border-bottom: 1px solid rgb(13, 1, 102);
    width: 80%;
    height: 1px;
    margin-bottom: 5vh;
}

.addressesContainer h3 {
    color: rgb(13, 1, 102);
    font-size: 20px;
    margin-bottom: 1vh;
}

.addressesContainer h4 {
    color: rgb(13, 1, 102);
    font-size: 16.5px;
    letter-spacing: 0.5px;
    margin-bottom: 5vh;
    border: 1px solid rgb(13, 1, 102);
    border-radius: 5px;
    background-color: rgb(13, 1, 102);
    color:white;
    cursor: pointer;
    font-weight: 570;
    transition-duration: 0.7s;
    padding : 1vh 2vw;
    line-height: 27px;
}

.addresseName{
    font-weight: 900;
    margin-right: 0.5vw;
    font-size: 16.5px;
}

.addressesContainer h4:hover{
    background-color: white;
    color:rgb(13, 1, 102);
    transition-duration: 0.7s;
}


.addressesContainer h2 {
    color: rgb(13, 1, 102);
    font-size: 20px;
    margin-bottom: 5vh;
    padding-top: 3vh;
}

.newAddress {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: relative;
}

.registerSentenceContainer {
    width: 32vw;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.newAddress h3 {
    color: rgb(13, 1, 102);
    font-size: 20px;
    margin-bottom: 1vh;
}

.line2 {
    border-bottom: 1px solid rgb(13, 1, 102);
    width: 80%;
    height: 1px;
    margin-bottom: 3vh;
}

.inputsContainer {
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.newAddress input {
    height: 44px;
    width: 32vw;
    border-radius: 5px;
    background-color: white;
    color: rgb(13, 1, 102);
    outline: none;
    padding-left: 1vw;
    font-size: 15px;
    border: 1px solid rgb(13, 1, 102);
}

.input {
    margin-bottom: 1.7vh;
}

.newAddress input::placeholder {
    color: rgb(13, 1, 102);
}

.mobileInput {
    margin-bottom: 2.5vh;
}

.btnContainer {
    width: 32vw;
    height: 40px;
    display: flex;
    justify-content: flex-start;
    position: relative;
}

.registerBtn {
    height: 40px;
    width: 18vw;
    border: none;
    color: white;
    background-color: rgb(13, 1, 102);
    border-radius: 20px;
    font-size: 19px;
    font-weight: 900;
    letter-spacing: 1px;
    cursor: pointer;
}

.errorMessage {
    width: 16vw;
    height: 40px;
    position: absolute;
    margin-left: 16.5vw;
    font-size: 17px;
    color: rgb(230, 25, 25);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}






/* Changement pour affichage smartphone */


@media only screen and (max-width: 1150px) {

    .body {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        overflow-y: scroll;
        scrollbar-width: none;
    }
    
    .addressesContainer {
        width: 100%;
        height: 100%;
        padding-top: 4dvh;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }
    
    .line {
        border-bottom: 1px solid rgb(13, 1, 102);
        width: 75%;
        height: 1px;
        margin-bottom: 4dvh;
    }
    
    .addressesContainer h3 {
        font-size: 5vw;
        margin-bottom: 1dvh;
    }
    
    .addressesContainer h4 {
        font-size: 4vw;
        margin-bottom: 4dvh;
        transition-duration: 0s;
        padding : 1dvh 2vw;
    }
    
    .addresseName{
        font-weight: 900;
        margin-right: 2vw;
        font-size: 4.5vw;
    }
    
    .addressesContainer h4:hover{
        background-color: rgb(13, 1, 102);
        color:white;
        transition-duration: 0s;
    }
    
    
    .addressesContainer h2 {
        font-size: 5vw;
        margin-bottom: 4dvh;
        padding-top: 0vh;
    }
    
    .newAddress {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        position: relative;
        padding-top: 3dvh;
    }
    
    .registerSentenceContainer {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    
    .newAddress h3 {
        font-size: 5vw;
        margin-bottom: 1.5dvh;
    }
    
    .line2 {
        border-bottom: 1px solid rgb(13, 1, 102);
        width: 95%;
        height: 1px;
        margin-bottom: 3.5dvh;
    }
    
    .inputsContainer {
        height: fit-content;
        width : 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }
    
    .newAddress input {
        height: 6.5dvh;
        width: 85%;
        padding-left: 1vw;
        font-size: 4.4vw;
        border: 1px solid rgb(13, 1, 102);
    }
    
    .input {
        margin-bottom: 2dvh;
    }

    .mobileInput {
        margin-bottom: 4dvh;
    }
    
    .btnContainer {
        width: 100%;
        height: 7.5dvh;
        display: flex;
        justify-content: center;
        position: relative;
    }
    
    .registerBtn {
        height: 7.5dvh;
        width: 65vw;
        border-radius: 5dvh;
        font-size: 4.7vw;
        font-weight: 900;
        letter-spacing: 1px;
        cursor: pointer;
    }
    
    .errorMessage {
        width: 100%;
        height: fit-content;
        position: absolute;
        margin-left: auto;
        font-size: 3.5vw;
        margin-top: -3.5dvh;
        color: rgb(230, 25, 25);
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    


}