.body{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.topContainer{
    height: 39%;
    background-image: url('../public/SignBackground6.jpg');
    background-size: cover;
}

.downContainer{
    width: 100%;
    height: 61%;
    display: flex;
}

.titleContainer{
    width: 22%;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title{
    color : rgb(13, 1, 102);
    font-size: 30px;
    font-family: Helvetica;
    font-weight: 770;
}

.lineContainer{
    width: 1px;
    height: 100%;
    display: flex;
    align-items: center;
 
}

.line{
    width: 1px;
    height : 87%;
    border-right: 1px solid rgb(13, 1, 102);
}

.rightContainer{
    width : 77%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 2.5vh;
}

.rightContainer h2{
    color : rgb(13, 1, 102);
    font-size: 24px;
    margin-bottom: 2vh;
}

.articlesContainer{
    width:100%;
    max-height : 34vh;
    overflow-y: scroll;
    scrollbar-width: none;
    padding : 3vh 0;
    border-top: 1px solid rgb(13, 1, 102);
    border-bottom: 1px solid rgb(13, 1, 102);
    margin-bottom: 3vh;
}

.rightContainer h4{
    color : rgb(13, 1, 102);
    font-size: 20px;
    font-style: italic;
    letter-spacing: 0.1px;
}

.totalContainer{
    margin-bottom: 2vh;
    width: 100%;
    display: flex;
    justify-content: space-between ;
}

.totalContainer h3{
    color : rgb(13, 1, 102);
    font-size: 21px;
}

.totalContainer h6{
    color : rgb(13, 1, 102);
    font-size: 19px;
}

.connexion{
    color : rgb(13, 1, 102);
    font-size: 19px;
    margin-bottom: 1.5vh;
}

.connexionContainer{
    margin-bottom: 2vh;
}

.orderBtn{
    width: 14vw;
    height : 5vh;
    border: 1px solid rgb(13, 1, 102);
    border-radius: 5px;
    background-color: rgb(13, 1, 102);
    color:white;
    cursor: pointer;
    font-size: 20px;
    font-weight: 580;
    transition-duration: 0.7s;
    margin-right: 4vw;
}

.orderBtn:hover{
    background-color: white;
    color:rgb(13, 1, 102);
    transition-duration: 0.7s;
}

.error{
    width:40vw;
    position:absolute;
    bottom: 55vh;
    left : 39vw;
    font-size: 18px;
    color:rgb(230, 25, 25);
    text-align: center;
}



.phoneLine {
    display: none;
}


.phoneTitle {
    display: none;
}







/* Changement pour affichage smartphone */


@media only screen and (max-width: 1150px) {
    .body{
        width: 100vw;
        height: 100svh;
        display: flex;
        flex-direction: column;
    }
    
    .topContainer{
        height: 32%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        padding: 0 0 6svh 0
    }

    .phoneTitle {
        display: flex;
        color: white;
        font-size: 4.3svh;
        font-family: Helvetica;
        font-weight: 770;
    }

    .phoneLine {
        display: flex;
        height: 1px;
        width: 75%;
        border-bottom: 1.5px solid white;
        margin-top: 2svh;
    }
    
    .downContainer{
        width: 100%;
        height: 68%;
        display: flex;
    }
    
    .titleContainer{
   display : none;
    }
  
    .lineContainer{
       display: none;
     
    }

    
    .rightContainer{
        width : 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding-left: 3%;
        padding-right: 3%;
        padding-top: 2.5svh;
    }

    .rightContainer h4{
        font-size: 3.5svh;
    }
    
    .rightContainer h2{
        font-size: 3.9svh;
        margin-bottom: 2svh;
    }
    
    .articlesContainer{
        width:100%;
        height: fit-content;
        max-height : 35.5svh;
        padding : 2.5svh 0 1svh 0;
        margin-bottom: 3svh;
    }
    
    .totalContainer{
        margin-bottom: 1.8svh;
        width: 100%;
        display: flex;
        justify-content: space-between ;
        align-items: center;
    }
    
    
    .totalContainer h3{
        font-size: 3.5svh;
    }
    
    .totalContainer h6{
        font-size: 2.9svh;
    }
    
    .connexion{
        font-size: 2.9svh;
        margin-bottom: 2.5svh;
    }
    
    .connexionContainer{
        margin-bottom: 2svh;
        padding: 0 2vw;
        display: flex;
        justify-content: space-between;
        width: 100%;
    }
    
    .orderBtn{
        width: 40vw;
        height : 6.5svh;
        font-size: 3svh;
        margin-right: 0;
    }
    
    .error{
        width:100%;
        bottom: auto;
        top : 32svh;
        left : auto;
        font-size: 3svh;
    }
    
}
