.headerBody{
    background-color:transparent;
    position:fixed;
    top: 0;
    left:0;
    width: 100vw;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
    transition-duration: 0.9s;
}

.searchContainer{
    width:30%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 3vw;
}

.inputContainer{
    width: 260px;
    height: 50px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid white;
    transition-duration: 0.5s;
}

.glassIcon{
    height: 20px;
    color:white;
    margin-right: 20px;
    cursor: pointer;
    transition-duration: 0.5s;
}

.search{
    height:100%;
    width:100%;
    font-family: Helvetica;
    font-size: 16.5px;
    background-color: transparent;
    outline: none;
    border : none;
    color:white;
    transition-duration: 0.2s;
}
.search::placeholder{
    color:white;
    transition-duration: 0.5s;
  }

.titleContainer{
    width:30%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 7px;
    transition-duration: 0.6s;
}

.nameSite{
    color:white;
    font-family: 'Open Sans';
    font-weight: 740;
    font-size: 48px;
    letter-spacing: 1px;
    text-shadow : 0.3px 0.1px 0.3px rgb(65, 65, 65);
    cursor: pointer;
    transition-duration: 0.5s;
}

.iconsContainer{
    width:30%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 4vw;
}

.userContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.userIcon{
    color:white;
    height : 22px;
    cursor: pointer;
    transition-duration: 0.5s;
}

.userName{
    color: white;
    position: absolute;
    margin-top:55px;
    text-shadow : 0.4px 0.6px 0.6px rgb(65, 65, 65);
    font-size:16px;
    transition-duration: 0.5s;
}

.userDropdownContainer{
    width: 110px;
    background-color:  rgb(13, 1, 102);
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 105px;
    border-radius: 5px;
   
}

.userDropdownContainer p{
    width: 100%;
    text-align: center;
    font-size: 15px;
    padding-top: 7.5px;
    padding-bottom: 7.5px;
    color:white;
    cursor: pointer;
}

.userDropdownContainer p:hover{
    text-decoration: underline;
    text-underline-offset: 2px;
}

.firstP{
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom: 0.5px solid white;
}

.lastP{
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.cartIcon{
    color:white;
    height : 22px;
    margin-left: 32px;
    cursor: pointer;
    transition-duration: 0.5s;
}

/* Changements quand hover du header */

.headerBody:hover{
    background-color: white;
    transition-duration: 0.9s;
    height:105px;
}

.headerBody:hover .inputContainer{
    width: 280px;
    height: 51px;
    border-bottom: 1.15px solid rgb(13, 1, 102);
    transition-duration: 0.5s;
 }

 .headerBody:hover .glassIcon{
    height: 22px;
    color:rgb(13, 1, 102);
    margin-right: 21px;
    transition-duration: 0.5s;
 }

 .headerBody:hover .search{
    height:100%;
    width:100%;
    font-size: 18px;
    color:rgb(13, 1, 102);
    transition-duration: 0.1s;
 }

 .headerBody:hover .search::placeholder{
    color: rgb(13, 1, 102);
    transition-duration: 0.5s;
 }



.headerBody:hover .titleContainer{
    padding-top: 0;
    transition-duration: 0.5s;
 }

.headerBody:hover .nameSite{
   font-size: 50px;
   color: rgb(13, 1, 102);
   transition-duration: 0.5s;
   text-shadow: none;
}



.headerBody:hover .userIcon{
    height: 23.5px;
    color:rgb(13, 1, 102);
    transition-duration: 0.5s;
 }


 .headerBody:hover .userName{
    text-shadow: none;
    color:rgb(13, 1, 102);
    transition-duration: 0.5s;
    font-size: 17px;
 }

 .headerBody:hover .cartIcon{
    height: 23.5px;
    color:rgb(13, 1, 102);
    margin-left: 33px;
    transition-duration: 0.5s;
 }

