.headerBody {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.00), rgba(0, 0, 0, 0.3));
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 90px;
    display: flex;
    flex-direction: column;
    z-index: 1;
    transition-duration: 0.9s;
}

.searchContainer {
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 3vw;
}

.inputContainer {
    width: 260px;
    height: 47px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid white;
    transition-duration: 0.5s;
}

.glassIcon {
    height: 20px;
    color: white;
    margin-right: 20px;
    cursor: pointer;
    transition-duration: 0.5s;
}

.search {
    height: 100%;
    width: 100%;
    font-family: Helvetica;
    font-size: 16.5px;
    background-color: transparent;
    outline: none;
    border: none;
    color: white;
    transition-duration: 0.2s;
}

.search::placeholder {
    color: white;
    transition-duration: 0.5s;
}


.autocompleteContainer {
    position: absolute;
    margin-top: 855px;
    height: 800px;
}

.autocomplete {
    background-color: rgb(245 245 245);
    padding: 15px;
    width: 280px;
    height: fit-content;
    max-height: 250px;
    overflow-y: scroll;
    scrollbar-width: thin;
}

.autocomplete p {
    color: rgb(13, 1, 102);
    font-size: 17.5px;
    font-weight: 550;
    margin-bottom: 5px;
    cursor: pointer;
}

.titleContainer {
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition-duration: 0.6s;
}

.nameSite {
    color: white;
    font-family: 'Open Sans';
    font-weight: 730;
    font-size: 47px;
    letter-spacing: 1px;
    cursor: pointer;
    transition-duration: 0.5s;
}

.iconsContainer {
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 3vw;
}

.boIcon {
    color: white;
    height: 22px;
    cursor: pointer;
    transition-duration: 0.5s;
}

.menuContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 4vw;
}


.menuIcon {
    color: white;
    height: 26px;
    cursor: pointer;
    transition-duration: 0.5s;
}

.userContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 4vw;
}

.userIcon {
    color: white;
    height: 22px;
    cursor: pointer;
    transition-duration: 0.5s;
}

.userName {
    color: white;
    position: absolute;
    margin-top: 47px;
    text-shadow: 0.4px 0.6px 0.6px rgb(65, 65, 65);
    font-size: 15px;
    font-weight: 600;
    transition-duration: 0.5s;
}

.userDropdownContainer {
    width: 180px;
    height: 20vh;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    top: 89px;
    margin-right: 5.6vw;
}

.triangle {
    color: rgb(13, 1, 102);
    height: 40px;
    position: absolute;
    margin-top: -17px;
    margin-left: 5.7vw;
}

.userDropdownContainer p {
    background-color: rgb(13, 1, 102);
    width: 100%;
    text-align: center;
    font-size: 16px;
    font-weight: 550;
    padding-top: 14px;
    padding-bottom: 14px;
    color: white;
    cursor: pointer;
}

.userDropdownContainer p:hover {
    text-decoration: underline;
    text-underline-offset: 2px;
    text-decoration-thickness: 1.5px;
}

.firstP {
    border-bottom: 1px solid white;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}

.P {
    border-bottom: 1px solid white;
}

.lastP {
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
}


.cartContainer {
    height: 45px;
    cursor: pointer;
    display: flex;
    align-items: center;
    margin-left: 4vw;
}

.cartIcon {
    color: white;
    height: 22px;
    cursor: pointer;
    transition-duration: 0.5s;
}

.cartCircle {
    background-color: white;
    height: 19px;
    width: 19px;
    border-radius: 50%;
    position: absolute;
    margin-top: 47px;
    margin-right: 0.1vw;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition-duration: 0.5s;
    padding-top: 1.5px;
}

.cartCircle p {
    color: rgb(13, 1, 102);
    font-weight: 600;
    font-size: 16.5px;
    transition-duration: 0.5s;
}



.phoneTitleContainer {
    display: none;
}

.computerHeaderContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100%;
}








/* Changements quand hover du header (écran ordi) */

@media only screen and (min-width: 1150px) {


    .headerBody:hover {
        background: white;
        transition-duration: 0.9s;
        height: 95px;
    }
    
    .headerBody:hover .inputContainer {
        width: 280px;
        height: 51px;
        border-bottom: 1.15px solid rgb(13, 1, 102);
        transition-duration: 0.5s;
    }
    
    .headerBody:hover .glassIcon {
        height: 22px;
        color: rgb(13, 1, 102);
        margin-right: 21px;
        transition-duration: 0.5s;
    }
    
    .headerBody:hover .search {
        height: 100%;
        width: 100%;
        font-size: 18px;
        color: rgb(13, 1, 102);
        transition-duration: 0.1s;
    }
    
    .headerBody:hover .search::placeholder {
        color: rgb(13, 1, 102);
        transition-duration: 0.5s;
    }
    
    
    
    .headerBody:hover .titleContainer {
        padding-top: 0;
        transition-duration: 0.5s;
    }
    
    .headerBody:hover .nameSite {
        font-size: 49px;
        color: rgb(13, 1, 102);
        transition-duration: 0.5s;
        text-shadow: none;
    }
    
    
    .headerBody:hover .menuIcon {
        height: 27px;
        color: rgb(13, 1, 102);
        transition-duration: 0.5s;
    }
    
    .headerBody:hover .userIcon {
        height: 23.5px;
        color: rgb(13, 1, 102);
        transition-duration: 0.5s;
    }
    
    
    .headerBody:hover .userName {
        text-shadow: none;
        color: rgb(13, 1, 102);
        transition-duration: 0.5s;
        font-size: 15px;
        margin-top: 46px;
    }
    
    .headerBody:hover .cartIcon {
        height: 23.5px;
        color: rgb(13, 1, 102);
        transition-duration: 0.5s;
    }
    
    .headerBody:hover .cartCircle {
        background-color: rgb(13, 1, 102);
        height: 20px;
        width: 20px;
        transition-duration: 0.5s;
    
    }
    
    .headerBody:hover .cartCircle p {
        color: white;
        font-size: 17px;
        transition-duration: 0.5s;
    }
    
    .headerBody:hover .boIcon {
        height: 23.5px;
        color: rgb(13, 1, 102);
        transition-duration: 0.5s;
    }
    
}








/* Changement pour affichage smartphone */


@media only screen and (max-width: 1150px) {
    .headerBody {
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.00), rgba(0, 0, 0, 0.43));
        height: 14.5svh;
        padding: 0;
        margin: 0;
    }

    .phoneTitleContainer {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 8svh;
        margin: 0;
        padding: 0;
        padding: 0.5svh 0 0 3vw;
    }

    .computerHeaderContainer {
        height: 4svh;
    }

    .titleContainer {
        display: none;
    }

    .nameSite {
        font-size: 5.4svh;
        margin-bottom: 1.5svh;
        margin-top: 0;
        padding: 0;
        word-spacing: 0.8vw;
        letter-spacing: 0vw;
    }

    .searchContainer {
        width: 40vw;

    }

    .glassIcon {
        height: 2svh;
        margin-right: 3vw;
    }

    .inputContainer {
        height: 3svh;
    }

    .menuIcon {
        height: 4svh;
        margin-left: 4vw;
    }

    .userIcon {
        height: 4svh;
        margin-left: 4vw;
    }

    .cartIcon {
        height: 4svh;
        margin-left: 4vw;
    }

    .boIcon {
        height: 3.6svh;
    }

    .userName {
        font-size: 1.7svh;
        margin-top: 6.4svh;
        margin-left: 3.8dvw;
    }

    .userDropdownContainer {
        width: 35vw;
        top: 15.2svh;
        margin-left: 1.7dvw;
    }

    .triangle {
        height: 4vh;
        margin-top: -2svh;
        margin-left: 7.8vw;
        color : white;
    }

    .userDropdownContainer p {
        font-size: 3.8vw;
        font-weight: 600;
        letter-spacing: 0;
        padding-top: 1.2svh;
        padding-bottom: 1.2svh;
        color : rgb(13, 1, 102);
        background-color: white;
    }

    .firstP {
        border-bottom: 1.5px solid rgb(13, 1, 102);
        border-top-left-radius: 7px;
        border-top-right-radius: 7px;
    }
    
    .P {
        border-bottom: 1.5px solid rgb(13, 1, 102);
    }

    .autocompleteContainer {
        margin-top: 12.2svh;
        height: 4svh;
    }

    .autocomplete {
        padding: 1.2svh 0 1svh 4vw;
        width: 45vw;
        max-height: 22svh;
    }

    .autocomplete p {
        font-size: 4.7vw;
        margin-bottom: 0.8svh;
    }

    .cartCircle {
        height: 2.1svh;
        width: 2.1svh;
        margin-top: 6.4svh;
        margin-right: 1.5dvw;
        padding-top: 0;
        padding-left: 0.2dvw;
    }
    
    .cartCircle p {
        font-size: 1.7svh;
    }
}