.body{
  display: flex;
}

.leftContainer{
  width: 54vw;
  height: 100vh;
  background-image: url('../public/tops4.jpg') ;
  background-size: cover;
  display: flex;
  transition-duration: 0.5s;
}

.topsContainer{
  height: 30%;
  display: flex;
  align-items: flex-end;
  padding-left: 3vw;
  transition-duration: 0.5s;
}

.tops{
  font-family: 'Open Sans';
  color:white;
  font-size: 35px;
  font-weight: 700;
  cursor: pointer;
  transition-duration: 0.5s;
}



.rightContainer{
  width: 46vw;
  height: 100vh;
  background-image: url('../public/jeans3.jpg') ;
  background-size: cover;
  display: flex;
  align-items: flex-end;
  transition-duration: 0.4s;
}

.downsContainer{
  height: 30%;
  width: 100%;
  padding-right: 3.5vw;
  display: flex;
  justify-content: flex-end;
}

.downs{
  font-family: 'Open Sans';
  color:white;
  font-size: 35px;
  font-weight: 700;
  text-shadow : 0.2px 0.1px 0.2px rgb(65, 65, 65);
  cursor: pointer;
  transition-duration: 0.5s;
}





@media only screen and (min-width: 1150px){


/* Changement quand hover sur tops */

.leftContainer:has(.tops:hover) {
  width: 57vw;
  transition-duration: 0.5s;
}

body:has(.tops:hover) .rightContainer {
  width: 43vw;
  transition-duration: 0.5s;
}

.tops:hover{
  font-size: 39px;
  transition-duration: 0.5s;
  font-weight: 760;
}


/* Changement quand hover sur downs */

.rightContainer:has(.downs:hover) {
  width: 51vw;
  transition-duration: 0.5s;
}

body:has(.downss:hover) .leftContainer {
  width: 49vw;
  transition-duration: 0.5s;
}

.downs:hover{
  font-size: 39px;
  transition-duration: 0.5s;
  font-weight: 760;
}


}





/* Changement pour affichage smartphone */


@media only screen and (max-width: 1150px){
 .body{
 flex-direction: column;
 height: 100dvh;
 width: 100vw;
 }

 .leftContainer{
  width: 100vw;
  height : 52dvh;
  padding-top: 14.5dvh;
  transition-duration: 0s;
 }

 .rightContainer{
  width: 100vw;
  height : 48dvh;
  background-position: 0 -3dvh;
  transition-duration: 0s;
 }

.topsContainer{
  height : 27%;
  padding-left: 5vw;
}

.tops{
  font-size: 4.2dvh;
}

 .downsContainer{
  padding-right: 5vw;
  height : 35%;
 }

 .downs{
  font-size: 4.2dvh;
 }

}