.body{
    width:23.5vw;
    height:51vh;
    min-height: 51vh;
    background-color: rgb(245	245	245	);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 4vh;
    position: relative;
}

.infosContainer{
    position:absolute;
    height: 14vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    margin-right: 13vw;
    margin-bottom: 30.5vh;
    z-index: 1;
}

.infosContainer h4{
color :rgb(13, 1, 102);
font-size: 27px;
}

.infosContainer h5{
color :rgb(13, 1, 102);
font-size: 22px;
margin-bottom: 1vh;
}

.infosContainer button{
background-color: rgb(13, 1, 102);
color:white;
border :none;
font-size: 22px;
height : 45px;
width:9.5vw;
border-radius: 5px;
cursor: pointer;
transition-duration: 1s;
}

.infosContainer button:hover{
    background-color: transparent;
    color:rgb(13, 1, 102);
    border:0.5px solid rgb(13, 1, 102);
    transition-duration: 1s;
}

.imgContainer{
    position: relative;
    height : 47vh;
    width: 24vh;
}








@media only screen and (max-width: 1150px){
    .body{
        width : 44.5vw;
        height : 22dvh;
        min-height: 22dvh;
        justify-content: space-between;
        padding : 1dvh 1vw 0 0;
    }

    .infosContainer{
        height : 100%;
        width : 60%;
        padding : 10dvh 0 2dvh 1vw;
        margin : 0 0 0 0 ;
        position:relative;
    }

    .infosContainer h4{
        font-size: 4.8vw;
    }

    .infosContainer h5{
        font-size: 3.8vw;
    }

    .infosContainer button{
        font-size: 3.8vw;
        font-weight: 500;
        width: 19vw;
        min-height : 4dvh;

    }

    .imgContainer{
        height : 90%;
        width : 40%;
        margin : 0;
        padding : 0;
    }
}